@charset "UTF-8";
body{
    margin: 0 auto;
    height:100%;  
}

@media screen and (max-width: 999px) { 
    /*SP*/
    body{
        width:100%;
        font-size: 300%; 
    }

    #taskList{
        margin-left: 10%;
        font-size: 1.5em;
    }
    .timer2{
        font-size: 3em;
        right: 35%;
    }
}
@media screen and (min-width:1000px) {
    body{
        width:60%;
        font-size: 100%; 
    }
    #taskList{
        font-size: 2em;
    }
    .timer2{
        font-size: 6em;
        right: 40%;
    }
}

#title{
    margin-top: 0px;
    margin-bottom:0px;
    font-size: 3em;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

#animationBox{
    position: relative;
    height:40%;
    border-top:solid 2px;
    border-bottom:solid 2px;
    
    /* background-image: url("./image/darwin/darwin0.png");
    background-size: contain; */
}

#timer{
    position: absolute;
    margin-top: 0px;
    margin-bottom:0px; 
}

.timer1{
    font-size: 3em;
    margin-left: 5%;
    bottom: 0;
}




#taskList{
    margin-top: 0px;
    margin-bottom:0px; 
}

li{
    border-bottom: solid 2px #000;
    position: relative;        
}

#playBox{
    text-align: center;
}

img{
    height: 10%;
}

#playstop{
    margin-left: 5%;
    margin-right: 5%;
}

.listIcon{
    position: absolute;
    top: 50%;
    right: 3%;
    height: 50%;
    transform: translate(-50%,-50%);
}

#inputTask{
    width: 90%;
    font-size:100%
}

.strikethrough{
    text-decoration: line-through;
}

.displayNone{
    display:none;
}

.apple0{
    position: absolute;
    right: 3%;
    height: 20%;
    top: 0%;
}

.apple1{
    position: absolute;
    right: 3%;
    height: 20%;
    top: 25%;
}

.apple2{
    position: absolute;
    right: 3%;
    height: 20%;
    top: 50%;
}

.apple3{
    position: absolute;
    right: 3%;
    height: 20%;
    top: 75%;
}

.apple4{
    position: absolute;
    right: 3%;
    height: 0%;
}

.appleEnd{
    position: absolute;
    right: 3%;
    height: 20%;
    top: 75%;
}

.darwin0{
    background-image: url("./image/darwin/darwin0.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.darwin1{
    background-image: url("./image/darwin/darwin1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.darwin2{
    background-image: url("./image/darwin/darwin2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.darwin3{
    background-image: url("./image/darwin/darwin3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.darwin4{
    background-image: url("./image/darwin/darwin4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.darwin5{
    background-image: url("./image/darwin/darwin5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.darwin6{
    background-image: url("./image/darwin/darwin6.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.darwin7{
    background-image: url("./image/darwin/darwin7.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.darwin8{
    background-image: url("./image/darwin/darwin8.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.darwin_end{
    background-image: url("./image/darwin/darwin_end.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}